/* 表单元素样式 */
.form-control {
  display: block;
  width: 100%;
  height:34px;
  padding:6px 12px;
  font-size:14px;
  line-height:1.1;
  color:@color-content;  
  background-image: none;
  border: 1px solid @color-border; 
  transition:all 0.15s;  
  outline: none;
  &::-ms-expand {
    border: 0;
    background-color: transparent;
  }
 
  &[disabled],
  &[readonly],
  fieldset[disabled] & {
    background-color:@color-bg;
    opacity: 1;
  }

  &[disabled],
  fieldset[disabled] & {
    cursor:not-allowed;
  }

  // Reset height for `textarea`s
  textarea& {
    height: auto;
  }
	&.input-lg{padding:12px 20px;font-size:16px;height:42px;}
	&:focus{
		border-color:@brand-primary;
		.box-shadow-inset-outside();		
	}
}
