/* title 适合放置一个标题右侧有其他操作的行 */
.title {
  display: flex;
  flex-flow: row;
  margin: 15px 0;
}
.title .title-text {
  flex: 1;
  font-weight: 500;
}
.title .title-action {
  justify-content: flex-end;
}
