/* LESS 全局抽象方法 */
.box-sizing(@boxSizing){box-sizing:@boxSizing;}
//形状设置
.border-radius(@radius){border-radius: @radius;}
.box-shadow-inset(){box-shadow:inset 0 3px 5px rgba(0,0,0,.125);}
.box-shadow-outside(){box-shadow:0 1px 10px rgba(45,140,240,.125);}
.box-shadow-inset-outside(){box-shadow:inset 0 3px 5px rgba(0,0,0,.1),0 1px 10px rgba(45,140,240,.225);}
//透明度
.opacity(@opacity){opacity:@opacity;}