/* LESS 全局抽象方法 */
.box-sizing(@boxSizing){box-sizing:@boxSizing;}
//形状设置
.border-radius(@radius){border-radius: @radius;}
.box-shadow(){box-shadow:inset 0 3px 5px rgba(0,0,0,.125);}
//透明度
.opacity(@opacity){opacity:@opacity;}